.dialog-widget.background {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.dialog-widget.alert, .dialog-widget.confirm, .dialog-widget.prompt {
  position: fixed;
  left: calc(50% - 160px);
  width: 300px;
  top: calc(50% - 115px);
  border: solid 1px #ddd;
  background: #bfbfbf;
  z-index: 10000;
  /*border-radius: 5px;*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 0px 10px 15px 5px;
  font-family: Helvetica, Arial, sans-serif;
}

.dialog-widget img {
  width: 40px;
  height: 40px;
  position: fixed;
}

.dialog-widget img[src=""] {
  display: none;
}

.dialog-widget.alert .divider, .dialog-widget.alert input, .dialog-widget.alert .cancel {
  display: none;
}

.dialog-widget.confirm input {
  display: none;
}

.dialog-widget.alert .ok {
  margin-top: 15px;
  float: right;
}

.dialog-widget input {
  padding: 8px;
  -webkit-appearance: none;
  border: solid 1px #ccc;
  /*border-radius: 5px;*/
  margin: 15px 5px 5px 5px;
  width: calc(100% - 16px - 2px - 10px);
  font-size: 12px;
  background: #d2d2d2;
  outline: 1px solid #205fac;
}

.dialog-widget .url {
  text-align: center;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.dialog-widget[data-icon="true"] .url {
  margin-left: 40px;
}

.dialog-widget .title {
  text-align: left;
  display:block;
  font-weight: normal;
  margin: 5px 10px 10px 10px;
  font-size: 16px;
}

.dialog-widget .divider {
  border-top: solid 1px #ddd;
  padding: 0;
  margin: 15px 10px 15px 10px;
  width: calc(100% - 20px);
}

.dialog-widget .ok, .dialog-widget .cancel {
  color: #d2d2d2;
  padding: 8px;
  width: calc(50% - 5px);
  font-size: 12px;
  background-color: #474747;
  border: none;
  /*border-radius: 5px;*/
}

.dialog-widget .ok {
  margin-left: 5px;
}
